.myPage{
	.myset{
		display: flex;
		justify-content: flex-end;
		&>view{
			position: relative;
			padding-left:45upx;
			font-size: 40upx;
			margin-top:5upx;
		}
		span{
			position: absolute;
			top: 0;
			right: -5upx;
			width:17upx;
			height:17upx;
			background:#ff3333;
			border-radius:50%;
			font-size:16upx;
			color:rgba(255,255,255,1);
			line-height: 28upx;
			text-align: center;
		}
	}
	.hint{
		// margin: 20upx 47upx 0;
	}
	.set{
		font-size: 45upx!important;
		padding-top:16upx;
		// padding: 20upx 0 10upx;
		line-height: 1;
	}
	.memberTop{
		display: flex;
		justify-content: space-between;
		.info{
			.name{
				font-size: 32upx;
			}
			.datanum{
				color: #666;
				font-size: 26upx;
				view{
					margin-right: 20upx;
				}
				.num{
					font-size: 32upx;
					color: #333;
					margin-left: 8upx;
				}
			}
		}
		.tx{
			height: 116upx; width: 116upx;
			border-radius: 50%;
			overflow: hidden;
			margin: 24upx 10upx 0 0;
			img{
				width:100%;height:100%;
			}
		}
	}
	.member_section{
		padding: 20upx 0;
		.section_hd{
			font-size: 32upx;padding: 0 0 20upx;font-weight:bold;
		}
		.section_bd{
			.li_33{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.item{
					width: 33.3%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					margin-bottom: 20upx;
					.txt{
						color: #484848;
					}
					.iconImg{
						width: 80upx;
						height: 80upx;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						text-align: center;
						.iconfont{
							margin: 0 auto;
							font-size:56upx;
							color: #666;
							line-height: 1.2;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							text-align: center;
						}
						.circleNum{
							position: absolute;
							height: 12upx;
							width: 12upx;
							border-radius: 50%;
							background: #F0370B;
							right: 16upx;
							top: 10upx;
						}
					}
				}
			}
		}
	}
	.dot{
		position:relative;
		&:before{
			content:'';
			position:absolute;
			top:6upx;
			right:3upx;
			width:18upx;
			height:18upx;
			background:#ff3333;
			border-radius:50%;

		}
	}
	
	.ftbtn{
		height: 88upx;
		border-radius: 44upx;
		background: #f5f6f8;
		color: #666;
		text-align: center;
		padding-top: 20upx;
	}
}
