

.index_swiper {
	position: relative;
	.swiper{
		height:400upx;
		.img{
			height: 400upx;
		}
	}
	.dots{
		position: absolute;
		left: 50%;
		bottom: 0;
		text-align: center;
		white-space: nowrap;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		z-index: 9;
		.dot{
			display: inline-block;
			width: 16upx;
			height: 16upx;
			cursor: pointer;
			-webkit-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
			background: rgba(0,0,0,.5);
			border-radius: 50%;
			margin: 0 8upx;
		}
		.dot.active{
			background: #5cc69a;
		}
	}
}
p{
	color:#999;
}
.topBlock{
	.tab{
		font-size:20upx;
		border:1upx solid #ccc;
		line-height:35upx;
		padding:0 10upx;
	}
	h2{
		line-height:2;
	}
	.priceBox{
		.price{
			line-height:1;
			h3{
				font-size:34upx;
			}
			p{
				color:#333;
				line-height:1.3;
				margin-left:20upx;
				font-size:22upx;
			}
		}
		.tishi{
			line-height:1.3;
			.icon-tishi{
				color:#999;
				font-size:28upx;
				margin-right:15upx;
			}
		}
	}
	.tabList{
		flex-flow:row wrap;
		.tabItem{
			padding:0 15upx;
			line-height:2;
			border-radius:5upx;
			font-size:26upx;
			margin-bottom:20upx;
			margin-right:15upx;
			&.color3{
				color:#5cc69a;
				background:#f6f7f9;
			}
			&.color1{
				color:#4d96ff;
				background:#f3fcf4;
			}
			&.color2{
				color:#654600;
				background:#f7f3ea;
			}
		}
	}
}
.coupon{
	line-height:100upx;
	padding-left:30upx;padding-right:20upx; 
	span{
		color:#ff3333;
		margin-right:15upx;
	}
}
.couponWin{
	background:#fff;
	position:relative;
	z-index:100;
	padding:0 30upx 30upx;
	border-radius:30upx 30upx 0 0;
	.pink,.maskcouponlist,.couponinfo{
		height:161upx;
	}
	.masktitle{
	    font-weight: bold;
	    font-size:32upx;
	    text-align: center;
	    padding:30upx 0;
	}
	.coupon-scroll{
		height:600upx;
	}
	.maskcouponlist{
	    position: relative;
	    margin:0 auto 15upx;
		border-radius: 10upx;
		overflow: hidden;
	}
	.maskser{
	    position: absolute;
	    top:0;
	    left:0;
	    padding:10upx 35upx 25upx 30upx;
		color:#ff3333;
	    width:100%;
	}
	.maskprice,.maskget{
	    font-size:32upx;
		color:#ff3333;
	}
	.maskget{
		line-height:2;
	}
	.maskask{
	    font-size:22upx;
	}
	.btnget{
	    width:100%;
	    height:80upx;
	    line-height: 80upx;
	    color:#fff;
	    background: #ff3333;
	    text-align: center;
	    margin:0 auto;
	    border-radius:50upx;
	}
}
.scroll-block{
	h3{
		line-height:2;
		padding-left:30upx;
		padding-top:10upx;
	}
	.list{
		padding-right:20upx;
		.item{
			width:210upx;height:210upx;
			margin-left:30upx;
			flex:0 0 auto;
			box-shadow:0 0 10upx #eee;
			padding-top:10upx;
			img{
				// width:70upx;
				width:200upx;
			}
			h5{
				line-height:2.5;
			}
		}
	}
}
.column-tab{
	.item{
		line-height:48upx;
		.iconfont{
			color:$primary;
			margin-right:10upx;
		}
	}
}
.video{
	h3{
		line-height:100upx;
	}
	.videoImg{
		position:relative;
		&>img{
			width:100%;height:320upx;
		}
		.mask{
			position:absolute;
			top:0;left:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,.4);
			display:flex;
			align-items:center;
			justify-content:center;
			z-index:10;
			img{
				width:43upx;height:53upx;
			}
		}

	}
}
.comment{
	h3{
		line-height:2.5;
	}
	.score{
		box-shadow:0 0 10upx #eee;
		.top{
			margin-bottom:10upx;
			.score-num{
				font-size:96upx;
				line-height:1;
				margin-right:20upx;
			}
			.right{
				.tab{
					background:$primary;
					color:#fff;
					display:inline-block;
					padding:0 20upx;
					line-height:40upx;
					font-size:22upx;
					border-radius:7upx;
					position:relative;
					&::before{
						content:'';
						position:absolute;
						left:-5upx;
						top:17upx;
						background:$primary;
						width:10upx;height:10upx;
						transform:rotate(45deg);
					}
					&.isHidden {
						visibility: hidden;
					}
				}
				.starBox{
					font-size:22upx;
					color:#999;
					.star{
						position:relative;
						.star-active{
							position:absolute;
							top:0;
							left:0;
							overflow:hidden;
							div{
								margin-right:7upx;
								font-size:28upx;
							}
						}
						.icon-collect{
							color:$primary;
						}
						.icon-collect1{
							color:#999;
						}
						.star-no{
							margin-right:7upx;
							font-size:28upx;
						}
					}
				}
			}
		}
		.bottom{
			.item{
				p{
					font-size:24upx;
					// color:#999;
					// color: #FF3333;
					margin-right:10upx;
				}
				span{
					// font-size:36upx;
					font-size:30upx;
					color:#666;
				}
			}
		}
	}
	.more{
		color:$primary;
		font-size:32upx;
		line-height:3;
		margin-left:30upx;
	}
}
.position{
	h3{
		line-height:1.2;
	}
	h5{
		font-weight:400;
		line-height:1.5;
		padding:20upx 0;
	}
	.iconfont{
		font-size:24upx;
		margin-right:10upx;
	}
}
.dateBox{
	h3{
		line-height:3;
	}
	.date-time{
		.text{
			color:$primary;font-size:32upx;
			line-height:1.5;
		}
		p{
			font-size:24upx;color:#333;
		}
		.end{
			text-align:right;
		}
	}
}
.detail{
	.nav{
		width:100%;
		.item{
			font-size:36upx;
			line-height:2.5;
			margin-right:70upx;
			&.avtive{
				border-bottom:3upx solid $primary;
				font-weight:bold;
			}
		}
	}
	.content{

	}
}
.notice{
	h3{
		line-height:2.5;
	}
	.tit{
		line-height:2.5;
		font-weight:bold;
	}
}
.safety{
	padding-bottom:170upx;
	h3{
		line-height:2.5;
	}
	.content{
		padding:30upx;
		background:#eff3f6;
		line-height:1.5;
		border-radius:10upx;
		.tit{
		}
		.icons{
			color:$primary;
			.iconfont{
				color:$primary;
				margin-right:20upx;
				font-size:36upx;
			}
		}
	}
}
.footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:100upx;
	background:#fff;
	z-index:98;
	.left{
		color:#999;
		border-top:1upx solid #ccc;
		width:50%;
		height:100upx;
		padding:0 50upx;
		button{
		      padding: 0;
		      background-color: #fff;
			  overflow: visible;
		      &::after {
		       border: none;
		      }
		     }
		.collect.active {
			color: #ff0000;
		} 
		.item{
			font-size:22upx;
			.iconfont{
				font-size:40upx;
				line-height:1;
				color:#999;
				&.active{
					color: #ff0000;
				}
			}
			.shearch{
				font-size:35upx;
				line-height:1.2;
			}
		}
	}
	.priceBox{
		.price{
			h2{
				font-size:40upx;
				color:#ff5a60;;
			}
			p{
				font-size:24upx;color:#333;
				line-height:2.3;
			}
		}
		.o-price{
			font-size:24upx;color:#999;
			line-height:.8;
			margin-bottom:20upx;
			text-decoration:line-through;
		}
	}
	.btn{
		background:#ff3333;
		color:#fff;
		width:50%;
		height:100upx;
		line-height:100upx;
		text-align:center;
		&.disable{
			color:#ccc;
			background:#eff3f6;
		}
	}
}
.pop{
	.content{
		color:#666;
		line-height:1.5;
		padding:40upx 40upx 60upx;
	}
}
.sku{
	h3{
		line-height:3;
	}
	.list{
		.item{
			border-top:1upx solid #f2f2f2;
			img{
				width:200upx;height:200upx;
				border-radius:10upx;
			}
			.content{
				margin:0 20upx;
				height:200upx;
				width:365upx;
				.p{
					height:30%;
				}
				.price{
					color:#ff3333;
				}
			}
			.btn{
				background:$primary;
				border-radius:10upx;
				color:#fff;
				padding:5upx;
				width:88upx;
				line-height:1.4;
				text-align:center;
			}
		}
	}
	.more{
		text-align:center;
		padding-bottom:20upx;
		line-height:1.4;
		.rotate{
			transform:rotate(180deg);
		}
	}
}