

.index_swiper {
	position: relative;
	.swiper{
		height:400upx;
		.img{
			height: 400upx;
		}
	}
	.dots{
		position: absolute;
		left: 50%;
		bottom: 40upx;
		text-align: center;
		white-space: nowrap;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		z-index: 9;
		.dot{
			display: inline-block;
			width: 16upx;
			height: 16upx;
			cursor: pointer;
			-webkit-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
			background: rgba(0,0,0,.5);
			border-radius: 50%;
			margin: 0 8upx;
		}
		.dot.active{
			background: #5cc69a;
		}
	}
}
p{
	color:#999;
}
.topBlock{
	.tab{
		font-size:20upx;
		border:1upx solid #ccc;
		line-height:35upx;
		padding:0 10upx;
	}
	h2{
		line-height:2;
	}
	.priceBox{
		.price{
			line-height:1;
			p{
				color:#333;
				line-height:1.3;
				margin-left:20upx;
			}
		}
		.tishi{
			line-height:1.3;
			.icon-tishi{
				color:#999;
				font-size:28upx;
				margin-right:15upx;
			}
		}
	}
	.tabList{
		flex-flow:row wrap;
		.tabItem{
			padding:0 15upx;
			line-height:2;
			border-radius:5upx;
			font-size:26upx;
			margin-bottom:20upx;
			margin-right:15upx;
			&.color3{
				color:#5cc69a;
				background:#f6f7f9;
			}
			&.color1{
				color:#4d96ff;
				background:#f3fcf4;
			}
			&.color2{
				color:#654600;
				background:#f7f3ea;
			}
		}
	}
}
.scroll-block{
	h3{
		line-height:2;
		padding-left:30upx;
		padding-top:10upx;
	}
	.list{
		padding-right:20upx;
		.item{
			width:200upx;height:200upx;
			margin-left:30upx;
			flex:0 0 auto;
			box-shadow:0 0 10upx #eee;
			padding-top:10upx;
			img{
				// width:70upx;
				width:200upx;
			}
			h5{
				line-height:2.5;
			}
		}
	}
}
.column-tab{
	.item{
		line-height:48upx;
		.iconfont{
			color:$primary;
			margin-right:10upx;
		}
	}
}
.video{
	h3{
		line-height:100upx;
	}
	img{
		width:100%;height:320upx;
	}
}
.comment{
	h3{
		line-height:2.5;
	}
	.score{
		box-shadow:0 0 10upx #eee;
		.top{
			margin-bottom:10upx;
			.score-num{
				font-size:96upx;
				line-height:1;
				margin-right:20upx;
			}
			.right{
				.tab{
					background:$primary;
					color:#fff;
					display:inline-block;
					padding:0 20upx;
					line-height:40upx;
					font-size:22upx;
					border-radius:7upx;
					position:relative;
					&::before{
						content:'';
						position:absolute;
						left:-5upx;
						top:17upx;
						background:$primary;
						width:10upx;height:10upx;
						transform:rotate(45deg);
					}
				}
				.starBox{
					font-size:22upx;
					color:#999;
					.star{
						.icon-collect{
							color:$primary;
						}
						.icon-collect1{
							color:#999;
						}
						div{
							margin-right:7upx;
							font-size:28upx;
						}
					}
				}
			}
		}
		.bottom{
			.item{
				p{
					font-size:24upx;
					color:#999;
					margin-right:10upx;
				}
				span{
					font-size:36upx;
					color:#666;
				}
			}
		}
	}
	.more{
		color:$primary;
		font-size:32upx;
		line-height:3;
		margin-left:30upx;
	}
}
.position{
	h3{
		line-height:1.2;
	}
	h5{
		font-weight:400;
		line-height:3;
	}
	.iconfont{
		font-size:24upx;
		margin-right:10upx;
	}
}
.dateBox{
	h3{
		line-height:3;
	}
	.date-time{
		.text{
			color:$primary;font-size:32upx;
			line-height:1.5;
		}
		p{
			font-size:24upx;color:#333;
		}
		.end{
			text-align:right;
		}
	}
}
.detail{
	.nav{
		width:100%;
		.item{
			font-size:36upx;
			line-height:2.5;
			margin-right:70upx;
			&.avtive{
				border-bottom:3upx solid $primary;
				font-weight:bold;
			}
		}
	}
	.content{

	}
}
.notice{
	h3{
		line-height:2.5;
	}
	.tit{
		line-height:2.5;
		font-weight:bold;
	}
}
.safety{
	padding-bottom:170upx;
	h3{
		line-height:2.5;
	}
	.content{
		padding:30upx;
		background:#eff3f6;
		line-height:1.5;
		border-radius:10upx;
		.tit{
		}
		.icons{
			color:$primary;
			.iconfont{
				color:$primary;
				margin-right:20upx;
				font-size:36upx;
			}
		}
	}
}
.footer{
	position:fixed;
	left:0;
	bottom:0;
	border-top:1upx solid #f2f2f2;
	width:100%;
	height:130upx;
	background:#fff;
	.left{
		color:#999;
		margin-top:20upx;
		border-right:1upx solid #ff5a60;
		button{
		      padding: 0;
		      background-color: #fff;
			  overflow: visible;
		      &::after {
		       border: none;
		      }
		     }
		.item{
			font-size:22upx;
			margin-right:35upx;
			.iconfont{
				font-size:40upx;
				line-height:.8;
				&.active{
					color: #ff0000;
				}
			}
		}
	}
	.priceBox{
		.price{
			h2{
				font-size:40upx;
				color:#ff5a60;;
			}
			p{
				font-size:24upx;color:#333;
				line-height:2.3;
			}
		}
		.o-price{
			font-size:24upx;color:#999;
			line-height:.8;
			margin-bottom:20upx;
		}
	}
	.btn{
		background:#ff3333;
		color:#fff;
		width:230upx;
		height:88upx;
		line-height:88upx;
		text-align:center;
		border-radius:10upx;
		&.disable{
			color:#ccc;
			background:#eff3f6;
		}
	}
}
.pop{
	.content{
		color:#666;
		line-height:1.5;
		padding:40upx 40upx 60upx;
	}
}