.scan{ 
	position: absolute; top: 50upx; left: 30upx; z-index: 9;
	height: 76upx; width: 76upx; background: rgba(0,0,0,.4);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.index_swiper {
	position: relative;
	.swiper{
		height:500upx;
		.img{
			height: 500upx;
		}
	}
	.dots{
		position: absolute;
		left: 50%;
		bottom: 40upx;
		text-align: center;
		white-space: nowrap;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		z-index: 9;
		.dot{
			display: inline-block;
			width: 16upx;
			height: 16upx;
			cursor: pointer;
			-webkit-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
			background: rgba(0,0,0,.5);
			border-radius: 50%;
			margin: 0 8upx;
		}
		.dot.active{
			background: #5cc69a;
		}
	}
}
.index_hd{
	.title{
		font-size: 36upx;
		font-weight: bold;
	}
	.more{
		// top: 0;
		// right: 0;
		font-size: 24upx;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 180upx;
		height: 64upx;
		color: $primary;
		.iconfont{
			color: $primary;
			margin-left: 6upx;
			line-height: 1.1;
		}
	}
	.sutitle{
		font-size: 24upx; color: #999;
	}
}
.searchXQ{
	position: relative;
	border-radius: 20upx 20upx 0 0;
	padding: 0 30upx;
	overflow: hidden;
	margin-top: -20upx;
	.item{
		border-bottom: 1px solid #eee;
		padding: 20upx 0;
		.item-l{ font-size: 32upx; margin-right: 20upx; } 
		.location-name{
			font-weight:bold;
		}
	}
	.item-start{
		.item-r{
			line-height: 1.3;
			.iconfont{ font-size: 40upx;}
		}
	}
	.item-end{
		.item-l{
			max-width: 600upx;
		}
		.iconfont{ font-size: 28upx; color: #999;}
	}
}
.btn{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80upx; 
	border-radius: 8upx; 
	color: #fff;
	font-size: 32upx;
	background: $primary;
}
.btn_line{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80upx; 
	border-radius: 8upx; 
	color: $primary;
	font-size: 32upx;
	border: 1px solid $primary;
}
.ljXQ{
	.bd{
		position: relative;
		.xqbg{
			border-radius: 20upx;
			box-shadow: 0 8upx 30upx rgba(0,0,0,.1);
		}
		.logo{
			position: absolute;
			right: 30upx;
			top: 50%;
			height: 100upx;
			width: 100upx;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 0 0 8upx rgba(0,0,0,.1);
		}
	}
}
.imgbox{
	height: 360upx;
	overflow: hidden;
	image{
		width: 100%;
		height: 100%;
	}
	position: relative;
	.like{
		position: absolute;
		top: 12upx;
		right: 20upx;
		.iconfont.bg{
			color: #fff;
			font-size: 36upx;
			position: relative;
			line-height: 1;
			.iconfont{
				position: absolute;
				font-size: 32upx;
				color: #999;
				line-height: 1;
				top: 2upx;
				left: 2upx;
			}
			.iconfont.active{
				color: #ff6766;
			}
		}
		.num{ color: #fff; margin-left: 10upx;}
	}
}
.hotrecomXQ{
	.bigitem{
		margin-bottom: 20upx;
		border-radius: 16upx 16upx 0 0;
		overflow: hidden;
		position: relative;
		.txtbox{
			padding: 10upx 0;
			.title{
				font-size: 30upx;
			}
			.location{
				color: #999;
				font-size: 24upx;
				.iconfont{ font-size: 26upx; margin-right: 4upx;}
			}
			.tags{
				.tag{
					color: $primary;
					font-size: 24upx;
					background-color: #f2fbf7;
					padding: 2upx 8upx;
					border-radius: 4upx;
					margin-right: 10upx;
				}
			}
			.score{
				.iconfont{
					color: $primary;
				}
				.num{margin: 0 4upx;}
			}
			.price{ font-size: 32upx; margin-right: 10upx;}
			.yuan{font-size: 24upx;}
			.oldprice{ color: #999;}
		}
	}
}
.serveXQ image{
	border-radius: 20upx;
	box-shadow: 0 8upx 30upx rgba(0,0,0,.1);
}
.xylist{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	.item{
		display: flex;
		flex-direction: column;
		width: 50%;
		padding-right: 20upx;
		margin-bottom: 20upx;
		.itembox{
			background-color: #fff;
			border-radius: 12upx;
			overflow: hidden;
			box-shadow: 0 4upx 12upx rgba(0,0,0,0.1);
		}
		.imgbox{
			height: 440upx;
		}
		.txtbox{
			padding: 20upx;
			.title{
				line-height: 1.4;
			}
			.tx{
				image{ height: 48upx; width: 48upx; border-radius: 50%; margin-right: 10upx; background-color: #eee;}
				text{
					font-size: 24upx;
					color: #555;
				}
			}
			.zan{
				font-size: 24upx;
				color: #555;
			}
		}
	}
}
.popCoupon{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.popContent{
		width: 676upx;
		position: relative;
		z-index: 100;
		.bgimg{
			width: 100%;
		}
		.couponlist{
			position: absolute;
			top: 190upx;
			left: 88upx;
			.item{
				width: 506upx;
				height: 130upx;
				margin-bottom: 20upx;
				background: url(/static/couponbg.png) center center no-repeat;
				background-size: 100% 100%;
				position: relative;
				.left{
					width: 140upx;
					.money{
						color: #f74e40;
						line-height: .9;
						align-items: flex-end;
					}
					.num{ font-size: 48upx; color: #f74e40; margin-right: 4upx;}
				}
				.right{
					width: 366upx;
					padding: 0 20upx;
					.title{font-size: 30upx;}
					.desc{
						color: #888;
						font-size: 24upx;
					}
					.btn_re{ 
						font-size: 24upx; 
					color: #fff;
					background: #fa6f35;
					background: linear-gradient(top, #ffaa21, #f7533e);
					background: -moz-linear-gradient(top, #ffaa21, #f7533e);
					background: -ms-linear-gradient(top, #ffaa21, #f7533e);
					background: -webkit-linear-gradient(top, #ffaa21, #f7533e);
					background: -o-linear-gradient(top, #ffaa21, #f7533e);
					border-radius: 8upx;
					padding: 4upx 12upx;}
				}
			}
			.getAll{ width: 344upx; margin: 0 auto;}
		}
		.close{
			color: #fff;
			font-size: 60upx;
			line-height: 1;
			position: absolute;
			left: 50%;
			bottom: -60upx;
			margin-left: -30upx;
		}
	}
}