.search{
	padding: 10upx 30upx 20upx;
	.searchbox{
		height: 64upx;
		background: #f2f2f2;
		border-radius: 32upx;
		padding: 0 20upx;
		.iconfont{ color: #999;font-size: 36upx; line-height: 64upx; margin-right: 10upx;}
		input {
			height: 64upx;
			line-height: 64upx;
		}
		.txt{
			color: #999; font-size: 26upx;
		}
	}
}
.area{
	.area-scroll{
		height:50upx;
	}
	.list{
		.item{
			flex:0 0 auto;
			padding:0 20upx;
			line-height:50upx;
			font-size:30upx;
			&.active{
				font-size:35upx;
				color:$primary;
			}
		}
	}
	.addArea{
		width:80upx;
		text-align:center;
		font-size:30upx;
		line-height:50upx;
		span{
			line-height:38upx;
			width:40upx;height:40upx;
			border-radius:50%;
			background:$primary;
			color:#fff;
			display:inline-block;
		}
	}
	.areaWin{
		background:#fff;
		width:90%;
		margin:0 auto;
		border-radius:20upx;
		padding:0 10upx 20upx 30upx;
		.tit{
			line-height:110upx;
			font-size:35upx;
			font-weight:bold;
			text-align:left;
		}
		.list{
			flex-flow:row wrap;
			width:100%;
			.item{
				box-shadow:0 0 8upx rgba(0,0,0,.1);
				border-radius:7upx;
				line-height:2.5;
				padding:0 20upx;
				margin-right:20upx;
				margin-bottom:20upx;
			}
		}
	}
}
.classify{
	.classify-scrollr{
		height:80upx;
	}
	.list{
		padding-top:15upx;
		padding-left:10upx;
		.item{
			flex:0 0 auto;
			padding:0 15upx;
			margin:0 15upx;
			line-height:40upx;
			background:#f2f2f2;
			color:#999;
			font-size:25upx;
			border-radius:8upx;
			&.active{
				background:$primary;
				color:#fff;
			}
		}
	}
}
.fubuBtn{
	position: fixed;
	right: 20upx;
	bottom: 170upx;
    width: 120upx;
    height: 120upx;
	line-height: 120upx;
	text-align: center;
	color: #fff;
	background: $primary;
	border-radius: 50%;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 11;
}
.xylist{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left: 20upx;
	.left-list,.right-list{
		width: 50%;
	}
	.item{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-right: 20upx;
		margin-bottom: 20upx;
		.itembox{
			background-color: #fff;
			border-radius: 12upx;
			overflow: hidden;
			box-shadow: 0 4upx 12upx rgba(0,0,0,0.1);
		}
		.imgbox{
			height: auto;
			position: relative;
			.like{
				position: absolute;
				top: 12upx;
				right: 20upx;
				z-index: 2;
				.iconfont.bg{
					color: #fff;
					font-size: 36upx;
					position: relative;
					line-height: 1;
					.iconfont{
						position: absolute;
						font-size: 32upx;
						color: #999;
						line-height: 1;
						top: 2upx;
						left: 2upx;
					}
					.iconfont.active{
						color: #ff6766;
					}
				}
				.num{ 
					color: #999; 
					margin-left: 10upx;
					&.active{
						color: #ff6766;
					}
				}
			}
		}
		.txtbox{
			padding: 20upx;
			.title{
				line-height: 1.4;
			}
			.tx{
				image{ height: 48upx; width: 48upx; border-radius: 50%; margin-right: 10upx; background-color: #eee;}
				text{
					font-size: 24upx;
					color: #555;
				}
			}
			.zan{
				font-size: 24upx;
				color: #555;
				line-height: 1.1;
			}
			.zan.active{
				color: $primary;
				.iconfont.active{
					color: $primary;
				}
			}
			.author{ display: block; max-width: 160upx;}
		}
	}
}
uni-load-more {
	margin-bottom: 180upx;
}