
.pop{
	background:#fff;
	position:relative;
	.title{
		padding:0 30upx;
		font-size:34upx;
		line-height:100upx;
		border-bottom:1upx solid #e8e8e8;
		font-weight:600;
		.cancel{
			transform:rotate(45deg);
			font-size:55upx;
			font-weight:400;
		}
	}
	.close{
		transform:rotate(45deg);
		font-size:60upx;
		font-weight:300;
		position:absolute;
		right:20upx;
		top:0;
	}
	.btn{
		line-height:100upx;
		font-size:32upx;
		color:#fff;
		text-align:center;
		background:$primary;
	}
}

.row{
    line-height:86upx;
    border-bottom:1upx solid #f2f2f2;
    .right{
        width:70%;
        input{
            text-align:right;
            width:100%;
        }
    }
}


.popup{
	background:#fff;
	.head{
		line-height:90upx;
		font-size:30upx;
		border-bottom:1upx solid #e8e8e8;
		div{
			padding:0 30upx;
		}
		.close{
		}
		.confirm{
			color:$primary;
		}
		h5{
			// font-weight:200;
		}
	}
}