.pro{
    .score{
        font-size:24upx;
        div{
            margin-right:10upx;
        }
        span{
            font-weight:400;
        }
        .iconfont{
            color:$primary;
            font-size:25upx;
        }
    }
    img{
        width:212upx;
    }

}
.c999{
    color:#999;
}
.date{
    background:#f8f9fb;
    text-align:center;
    p{
        color:#999;
        font-size:22upx;
    }
    .total{
        color:$primary;
        font-size:24upx;
        padding:0 20upx;
        line-height:40upx;
        border:1upx solid $primary;
        border-radius:40upx;
    }
}
.ceaseInfo{
    .row{
        border-bottom:none;
    }
    .btn-min{
        font-size:24upx;
        border-radius:7upx;
        margin-left:15upx;
    }
}
.userInfo{
    background:#f8f9fb;
    padding-top:1upx;
    padding-bottom:20upx;
    border-radius:10upx;
    margin-bottom:20upx;
    p{
        color:#999;
        line-height:1.2;
    }
}
.priceInfo{
    color:#999;
    line-height:1.8;
    .totalPrice{
        p{
            font-size:32upx;
            color:#ff3333;
        }
    }
}
.gap100{
	height:100upx;
	width:100%;
}
.notice{
    .bold{
        line-height:2.5;
    }
    p{
        font-size:24upx;
        line-height:2;
    }
    span{
        font-size:24upx;
        line-height:1.5;
        color:#999;
        display:inline-block;
    }
}
.btn-max{
    border-radius:0;
    font-size:32upx;
}
.submit{
	position:fixed;
	bottom:0;left:0;
	width:100%;
	z-index:10;
    .btn-max{
        line-height:100upx;
        height:100upx;
    }
}
// 入住人数
.peopleNum{
    background:#fff;
    .content{
        padding:60upx 50upx;
        div:last-child{
            margin-top:50upx;
        }
    }
}

.addCheckInInfo{
    .content{
        .item{
            height:80upx;
            line-height:80upx;
            border-bottom:1upx solid #f2f2f2;
            input{
                width:70%;
                height:80upx;
                line-height:80upx;
                text-align:left;
            }
            margin-bottom:10upx;
            p{
                font-size:28upx;
            }
        }
    }
}
// 优惠券
/* 优惠券弹窗 */
.pop{
    border-radius: 6px 6px 0 0;
	background-color: #fff;
	width: 100%;
    .title{
        text-align:center;
    }
    .centent{
        padding:0 20upx; 
    }
    .btn-max{
        border-radius:0;
        font-size:30upx;
        line-height:88upx;
    }
}
.couponbox{
    .couponitem{
        width: 100%;
        height: 120upx;
        border-bottom: 1upx #ECECEC solid;
        padding:0 20upx;
    }
    .couponname{
        font-size: 30upx;
    }
}
